 body{
    margin: 0;
    padding: 0;
    background-color: cyan;
 }
 ul{
    position: fixed;
    margin: 0;
    width: 25%;
    height: 100%;
    list-style-type: none;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
li a{
    text-decoration: none;
    color: #ffff;
    display: block;
    text-align: center;
    font-size: 1.5em;
    
}
li{
    width: 100%;
    display: block;
    margin: 15% 0;
    border-bottom: 2px solid white;
}

.selected{
    background-color: aqua;
    margin: 15%;
    border-radius: 10px;
    color: black;
}

a:hover:not(.selected){
    background-color: rgba(0, 255, 255, 0.673);
    border-radius: 10px; 
}
.container{
    margin-left: 30%;
}
.container h1{
    text-align: center;
    background-color: aliceblue;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}
img{
    display: block;
    width: 50%;
    height: auto;
    margin: 0 auto;
}
.container p{
    background-color: aliceblue;
    border-radius: 10px;
    margin:10px;
    padding: 10px;
}

